/*
==== 
placeholder styling
====
*/
body, svg {
  font-family: "CalibreWeb-Regular" sans-serif;
  margin: 10px auto;
  font-size: 16px;
}

h2.sectionTitle {text-align: center;}

g.nationGroup.background > text { visibility: hidden ; }
g.nationGroup.highlighted > text { visibility: visible; ; }

/*
==== 
end of placeholder styling
====
*/


/* Section 2 map styles*/

div#chart {
	width: 100%;
	position: sticky; 
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; min-height: 10em;
  z-index: 0;
  padding-top: 50px; padding-bottom: 50px;
  /*border: 1px solid red; */ /* for debugging purposes only */
}

div#chart svg {  z-index: 0; }
#animatedMapContainer{ padding-bottom: 4em; }

path.q1Line {fill: none; stroke-dasharray: 10,3;}
path.q3Line {fill: none; stroke-dasharray: 6,2,2,2;}


div.chartChatter {
	position: relative;
	width: 80%;
	background-color: rgba(255,255,255,0.65);
	margin-left: auto; margin-right: auto;
	padding: 1.2em;
	z-index: 100;
}

text#legendYear {font-size: 72px; fill: #aaa; font-weight: 800;}

.axislabel {
  fill: #777; font: 12px;
}

.keygroup {display: none; }
.keygroup.visible {display: block; cursor: pointer; font-size: 12px; }

.year.label, .legendlabel {
  font: 600 14px "CalibreWeb-Regular";
}

.year.label { font-size: 13px; }

.smalllegendlabel {
  font: 400 10px "CalibreWeb-Regular"; 
}

g.active .keygroup text { font-size: 14px; }
g.active .keygroup path.medianLine { stroke-width: 2.5px;  }

path.medianLine { fill: none; stroke-width: 2px;}

path.hidden {opacity: 0;}

g.active path.medianLine { stroke-width: 3px; }

path.q1Line, path.q3Line { stroke-width: 2px; }


g.active path.q1Line, g.active path.q3Line { stroke-width: 3px; }
